<div class="container">
 <app-cockpit 
 (serverCreated)="onServerAdded($event)"
 (bpCreated)="onBlueprintAdded($event)"
 ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <!-- <app-server-elements 
      *ngfor="let serverElement of serverElements"
      [element]="serverElement"></app-server-elements> -->
      <button class="btn btn-primary" (click)="onServerChange()">Change First Element</button>
      <button class="btn btn-danger" (click)="OnServerDestroy()">Change First Element</button>

      <app-server-elements
      *ngFor="let serverElement of serverElements" 
      [srvElement]="serverElement"
      [name]="serverElement.name">
      <p #ContentChanged>
        <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
        <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
      </p>
    </app-server-elements>
    </div>
  </div>
</div>
